<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="static/styles/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="static/styles/style1.css"> <!-- Resource style -->
	<script src="static/js/modernizr.js"></script> <!-- Modernizr -->
	<title>FAQ</title>
</head>
<body>
<header>
	<h1>Airbnb Lite FAQ </h1>
</header>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">Basics</a></li>
		<li><a href="#Minseok">Minseok</a></li>
		<!-- <li><a href="/"  >Go back to home</a></li> -->
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Basics</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What is AirBnB Lite?</a>
				<div class="cd-faq-content">
					<p>It is a fun project to make a site that mimics Airbnb.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Did you enjoy making it?</a>
				<div class="cd-faq-content">
					<p>Yes! Totally Yes! Even though I knew nothing, but basic syntax of html and python, modifying the code and getting answers from google were very informative. My project is not 100% ready, but through the experience, I learned alot.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Why did you decided to join Hack4Impact</a>
				<div class="cd-faq-content">
					<p>I have some background in programming, but I have few experience of working on a project as a team. As a technical member of Hack4Impact, I would like to work on real life projects with other members. Also, I would like to use my programming skills to create social good. Last but not least,  I also want to make friends.</p>
				</div> <!-- cd-faq-content -->
			</li>


		<ul id="Minseok" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Minseok</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Do you have prior programming experience?</a>
				<div class="cd-faq-content">
					<p>Yes! When I was in highschool, I made my own garry's mod gamemode, by modifying lua files. It was quiet popular among users, because the gamemode was totally different than other existing gamemodes.
					Also I also have experience with Matlab in EK125. You can look at my EK125 final project in here: www.~~~</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Why should BU Hack4Impact pick you as a technical member?</a>
				<div class="cd-faq-content">
					<p>I am enthusiastic in programming and learning new things. I am also creative. I am good at computer problem solving.
					I cannot say I am currently a proficient software engineer, but I can say with opportunies of hands-on experience in Hack4Impact and some time to learn basic syntax, I would be a proficient programmer to benefit Hack4Impact community and to create social good.</p>
				</div> <!-- cd-faq-content -->
			</li>


		</ul> <!-- cd-faq-group -->




		</ul> <!-- cd-faq-group -->
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
<script src="static/js/jquery-2.1.1.js"></script>
<script src="static/js/jquery.mobile.custom.min.js"></script>
<script src="static/js/main1.js"></script> <!-- Resource jQuery -->
</body>
</html>
